<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/pagination.css}" href="/css/pagination.css" rel="stylesheet">
</head>

<body>
<div class="container mt-3 mb-3">
    <div th:replace="fragments/common :: header">header</div>

    <div class="py-4 text-center">
        <h2>게시판</h2>
    </div>

    <div class="row">

        <button class="w-25 m-3 btn btn-secondary float-end" th:onclick="|location.href='@{/post/new}'|"
                onclick="location.href='createPostForm.html'" type="submit">
            게시글 등록
        </button>

        <div class="col-md-12">
            <div class="table-wrap">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>댓글수</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:onclick="|location.href='@{/post/{id} (id=${post.id})}'|"
                        th:each="post : ${posts}" class="alert" role="alert" style="cursor: pointer;">
                        <td th:text="${post.id}"></td>
                        <td th:text="${post.title}"></td>
                        <td th:text="${post.writer}"></td>
                        <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${post.commentCount}"></td>
                        <td th:text="${post.view}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <nav th:object="${searchRequestDto}" class="center">
        <ul class="pagination"
            th:with="start=(${posts.number < 4 ? 0 : posts.number - 4}), last=(${start + 9 < posts.totalPages ? start + 9 : posts.totalPages == 0 ? 1 : posts.totalPages})">

            <a th:href="@{/post(page=1, searchType=${searchRequestDto.searchType}, keyword=${searchRequestDto.keyword})}" aria-label="First">
                <span aria-hidden="true">&lt;&lt;</span>
            </a>

            <a th:class="${posts.first} ? 'disabled'" th:href="${posts.first} ? '#' :@{/post(page=${posts.number}, searchType=${searchRequestDto.searchType}, keyword=${searchRequestDto.keyword})}"
               aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>

            <a th:each="page: ${#numbers.sequence(start+1, last)}" th:class="${page == posts.number+1} ? 'active'"
               th:text="${page}" th:href="@{/post(page=${page}, searchType=${searchRequestDto.searchType}, keyword=${searchRequestDto.keyword})}"></a>

            <a th:class="${posts.last} ? 'disabled'" th:href="${posts.last} ? '#' : @{/post(page=${posts.number + 2}, searchType=${searchRequestDto.searchType}, keyword=${searchRequestDto.keyword})}"
               aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>

            <a th:href="@{/post(page=${posts.totalPages}, searchType=${searchRequestDto.searchType}, keyword=${searchRequestDto.keyword})}" aria-label="Last">
                <span aria-hidden="true">&gt;&gt;</span>
            </a>

        </ul>
    </nav>
    <!--    -->

    <br>
    <form th:object="${searchRequestDto}" method="get">
        <div class="form-group row col-12 justify-content-center">
            <div class="col-2 mx-auto">
                <select th:field="*{searchType}" class="form-control">
                    <option value="title">제목</option>
                    <option value="content">본문</option>
                    <option value="writer">작성자</option>
                </select>
            </div>
            <div class="col-8 mx-auto">
                <input th:field="*{keyword}" type="text" class="form-control" name="keyword">
            </div>
            <button class="btn btn-sm btn-primary col-2 mx-auto">검색</button>
        </div>
    </form>

    <!---->
</div>
</body>
</html>