<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/common :: header">header</div>

    <div th:if="${param.signup}" th:text="'회원가입이 완료되었습니다.'" class="my-2 mb-5 alert alert-success"/>

    <div class="py-4 text-center">
        <h2>홈 화면</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 mb-4 btn btn-secondary btn-lg" th:onclick="|location.href='@{/post}'|"
                    onclick="location.href='home.html'" type="submit">
                게시판
            </button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" type="button" th:onclick="|location.href='@{/auth/signup}'|">
                회원 가입
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-dark btn-lg" th:onclick="|location.href='@{/auth/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>

    <hr class="my-4">
</div>

</body>
</html>